<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Phish Songs</h3>
		</div>
	</div>
	<div class="row">
		
		<div class="songstable col-md-8 col-md-offset-2">
			
		<table id="songs" class="table table-hover">
		<thead>
			<th>Track Name</th>
			<th>Album</th>
			<th>Track Length</th>
			<th>Release Date</th>
			<th>Album Cover</th>
		</thead>
		<tbody>
		

		</tbody>
	</table>	

		</div>

	</div>
</div>


